*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body_container{
    width: 1200px;
    margin: auto;
    background-color: beige;
}
.container{
    display: flex;
}
.dadi{
    width: 200px;
    height: 200px;
    background-color: black;
    margin: auto;
    color: white;
}

h1{
    color: black;
}